
.timer
{
    display: flex;
    flex-direction: column;
    color:#606060;
    .time-entites
    {
        display: flex;
        
        .time-entity
        {
            display: flex;
            flex-direction: column;
            margin: 5px;
            .time-holder
            {
                padding: 10px;
                display: flex;
                justify-content: center;
                background-color: #e5f2b8;
                margin-bottom: 5px;
                color:#171738;
                font-size: 22px;
                line-height: 1;
            }
            .time-unit
            {
                font-size: 12px;
                line-height: 2.25;
            }
        }
    }
}
