$light-blue: #2dabe2;
$bgcolor: #eff4f7;
$white: #fff;
$muted-color: mix(white, #000000, 75%);
$hl-color:#2196F3;
$btn-bgcolor: #4F9FE6;
$grey-font: #6c757d;
$flat-red: #db4444;
$flat-orange: #ff9c07;
.error{
    color: red;
}