.main-content
{
    padding:20px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .lookup-header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}