.interactions
{
    display: flex;
    justify-content: space-around;
    .before-participating,
    .after-participating
    {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        flex-wrap: wrap;
        button{
            margin: 5px;
            cursor: pointer;
        }
    }
    
}
.apply-size
{
    width: 32px;
    height: 32px;
}
